.app{
   background-color: #dadbd3;
   display: grid;
   place-items: center;
   height: 100vh;
}
.app__body{
  display: flex;
  background-color: #ededed;
  height: 90vh;
  width: 90vh;
  box-shadow: -1px 4px 20px -6 rgba(0, 0, 0, 0.7);
}